model_config_list {
    config {
        name:"saved_model"
        base_path:"/models/saved_model"
        model_plataform:"tensorflow"


        model_version_policy {
            specific {
                versions: 1
                versions: 2
                versions: 3
                versions: 4
                versions: 5
            }
        }

        version_labels {
            key:'m15'
            value: 1
        }

        version_labels {
            key:'m1'
            value: 2
        }
        version_labels {
            key:'m5'
            value: 3
        }

        version_labels {
            key:'h1'
            value: 4
        }

        version_labels {
            key:'d1'
            value: 5
        }
        
    }
}